.followUserContainer {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  padding: 15px 10px 15px 20px;
}


.followUserContainer:not(:last-child) {
  border-bottom: 1px solid var(--borderMain);
}

.followUserContainer:hover {
  background-color: var(--twitter-background);
  transition: all 0.25s ease-in;
}

.followUserContainer:last-child:hover {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.avatarImg {
  display: flex;
  align-items: center;
  border-radius: 50%;
  height: 58px;
  width: 58px;
}

.usernameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  margin-left: 10px;
}

.usernameContainer > div > h3 {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.followButtonUser {
  display: block;
  color: var(--twitter-color);
  border: 1px solid var(--twitter-color);
  text-align: center;
  border-radius: 20px;
  font-weight: 800;
  padding: 8px 10px;
  font-size: 18px;
  transition: all 0.3s ease-in;
  margin-right: 10px;
  margin-left: 5px;
}

.followButtonUser:hover {
  background-color: #e8f5fe;
}

@media only screen and (max-width: 1200px) {
  .followUserContainer {
    display: grid;
    grid-template-columns:58px 150px max-content;
    grid-template-rows: auto;
    align-items: center;
  }

  .usernameContainer > div,
  .usernameContainer > div > h3 {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 1090px) {
  .followUserContainer {
    display: grid;
    grid-template-columns:58px 80px max-content;
    grid-template-rows: auto;
    align-items: center;
  }

  .usernameContainer > div,
  .usernameContainer > div > h3 {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}