.twitterLogo {
  color: var(--twitter-color);
  font-size: 50px !important;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.twitterLogo:hover {
  background-color: #e8f5fe;
  border-radius: 50%;
  color: var(--twitter-color);
  padding: 10px;
  transform: rotate(360deg);
  transition: all 0.45s ease-out;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 20px;
  margin-bottom: 20px;
  transition: color 0.2s ease-out;
}

.sidebarOption:hover {
  /* display: inline-flex; */
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 0.2s ease-out;
  width: max-content;
  padding: 15px 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 22px;
  margin-left: 10px;
}

.tweetButton {
  display: block;
  background-color: var(--twitter-color);
  border: 0;
  border-radius: 30px;
  padding: 20px 80px;
  font-size: 17px;
  font-weight: 700;
  color: white;
}

.tweetButton:hover {
  filter: brightness(0.94);
  transition: color 0.1s ease-out;
}
